header .btn {
  background: #0022ff;
}

.stars {
  margin-top: -17px;
}
.stars .star {
  width: 32px;
  height: 32px;
  background: url('../img/stars.png');
  display: inline-block;
}
.stars .star.full {
  background-position: -64px 0px;
}
.stars .star.half {
  background-position: -32px 0px;
}
.stars .star.empty {
  background-position: 0px 0px;
}
.stars .star:last-child,
.stars .star:first-child {
  margin-bottom: 5px;
}

.progress {
  height: 40px;
}
.progress .progress-bar {
  padding: 13px;
  font-size: 16px;
  color: white;
}
